<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0" name="viewport"><!-- This was what was in content: initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width,height=device-height -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="The Monta Vista Computer Science Club Official Website" name="description">
    <meta content="mvcs, club, Monta, Vista, High, School, computer, science, CS, DeRuiter, drootr, programming, java, C++" name="keywords">
    <title>MVCS | The Comp Sci Club of MV</title>
    <link href="img/myIcon.ico" rel="shortcut icon" title="MVCS" type="image/x-icon">
    <link href="css/normalize.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js">
    </script>
</head>
<body>
    <div id="marker"></div><!--===
    <header id="header">
        <a href="about.html" class="navlink"><h4>About</h4></a>
        <a href="members.html" class="navlink"><h4>Members</h4></a>
        <a href="index.html"><img src="img/Logo.png"></a>
        <a href="news.html" class="navlink"><h4>News</h4></a>
        <a href="branches.html" class="navlink"><h4 onmouseover="expandit('dropdown'); return false;">Branches</h4></a>
    </header>
    <div id="dropdown">
        <a href="lecture.html" class="navlink"><h4>Lecture Day</h4></a>
        <a href="creative.html" class="navlink"><h4>Creative Day</h4></a>
        <a href="usaco.html" class="navlink"><h4>USACO Training</h4></a>
    </div>
    ====-->
    <div class="topnav" id="myTopnav">
        <!--<a class="active" href="index.html"><img src="img/Logo.png"></a>-->
        <a href="#home">Just a Test</a>
        <a class="icon" href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </div>
    <canvas id="draw"></canvas>
    <div id="container" onmouseover="closeit('dropdown')">
        <br>
        <br>
    </div>
</body>
</html>
