<!DOCTYPE HTML>
<html>
	<head>
	    <meta charset = "utf-8" name = "viewport" content = "width=device-width, initial-scale=1, user-scalable=no">
	    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
	    <title>MVCS | The Comp Sci Club of MV</title>
	    <!--<link rel = "shortcut icon" href = "img/myIcon.ico" type = "image/x-icon" title = "MV Hacks">-->
	    <link rel = "stylesheet" href = "css/normalize.css">
	    <link rel = "stylesheet" href = "css/main.css">
	    <link rel = "stylesheet" href = "css/responsive.css">
	</head>
	<body>
		<canvas id="draw">
	    </canvas>
	    <div id="overlay">
	    	<header id="header">
	    	</header>
	    </div>