<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0" name="viewport"><!-- This was what was in content: initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width,height=device-height -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="The Monta Vista Computer Science Club Official Website" name="description">
    <meta content="mvcs, club, Monta, Vista, High, School, computer, science, CS, DeRuiter, drootr, programming, java, C++" name="keywords">
    <title>MVCS | The Comp Sci Club of MV</title>
    <link href="img/myIcon.ico" rel="shortcut icon" title="MVCS" type="image/x-icon">
    <link href="css/normalize.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js">
    </script>
</head>
<body>
    <div id="marker"></div>
    <header id="header">
        <a href="about.html" class="navlink"><h4>About</h4></a>
        <a href="news.html" class="navlink"><h4>News</h4></a>
        <a href="index.html"><img src="img/Logo.png"></a>
        <a href="FAQ.html" class="navlink"><h4>FAQ</h4></a>
        <a href="resources.html" class="navlink"><h4>Resources</h4></a>

    </header>
    <br><br>
</body>
</html>
